:root {
  --pico-font-size: 14px;
  --pico-font-family-monospace: "JetBrainsMono Nerd Font", "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
  --muted-background-color: color-mix(in oklab, var(--pico-background-color), black 1%);
  --pico-font-family: var(--pico-font-family-monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --muted-background-color: color-mix(in oklab, var(--pico-background-color), white 1%);
  }
}

#file_list {
  table {
    border-collapse: separate;
  }

  tbody {
    tr:hover {
      td {
        background-color: color-mix(in oklab, var(--pico-form-element-background-color), black 4%);

        @media (prefers-color-scheme: dark) {
          background-color: color-mix(in oklab, var(--pico-form-element-background-color), white 4%);
        }
      }
    }

    tr:nth-child(even) {
      td {
        --pico-background-color: var(--muted-background-color);
      }
    }
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .name {
    width: 100%;
    max-width: 0;
  }

  .size,
  .last_modified,
  .icon {
    white-space: nowrap;
    width: 1%;
    text-align: right;
  }

  .name span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    --pico-color: var(--pico-muted-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  th {
    position: relative;
    padding-left: 2rem;

    &:hover {
      background-color: color-mix(in oklab, var(--pico-form-element-background-color), black 4%);

      @media (prefers-color-scheme: dark) {
        background-color: color-mix(in oklab, var(--pico-form-element-background-color), white 4%);
      }
      backdrop-filter: blur(30px);
    }

    svg {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      path {
        opacity: 0.15;
      }
    }
  }

  th.asc {
    svg {
      path.asc {
        opacity: 1;
      }
    }
  }

  th.desc {
    svg {
      path.desc {
        opacity: 1;
      }
    }
  }

  tr {
    cursor: pointer;
  }

  tr.dir {
    td.name {
      font-weight: 500;
    }
  }

  nav {
    --ribbon-angle: 10px;
    --ribbon-spacing: 2px;
    margin-bottom: var(--pico-block-spacing-horizontal);

    ul {
      max-width: 100%;
      margin-left: var(--ribbon-angle);

      li {
        min-width: 0;
        margin-left: calc(var(--ribbon-spacing) - var(--ribbon-angle));

        a {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: unset;
          --pico-text-decoration: none;

          padding-left: calc(var(--pico-nav-link-spacing-horizontal) + var(--ribbon-angle));
          padding-right: calc(var(--pico-nav-link-spacing-horizontal) + var(--ribbon-angle));
          background-color: color-mix(in oklab, var(--pico-form-element-background-color), black 2%);
          border-radius: 0;
          clip-path: polygon(calc(100% - var(--ribbon-angle)) 0, 100% 50%, calc(100% - var(--ribbon-angle)) 100%, 0% 100%, var(--ribbon-angle) 50%, 0% 0%);

          @media (prefers-color-scheme: dark) {
            background-color: var(--pico-form-element-background-color);
          }

          &:hover {
            background-color: color-mix(in oklab, var(--pico-form-element-background-color), black 4%);

            @media (prefers-color-scheme: dark) {
              background-color: color-mix(in oklab, var(--pico-form-element-background-color), white 4%);
            }
          }
        }

        &:first-child {
          a {
            clip-path: polygon(calc(100% - var(--ribbon-angle)) 0, 100% 50%, calc(100% - var(--ribbon-angle)) 100%, 0% 100%, 0% 0%);
            border-radius: var(--pico-border-radius) 0 0 var(--pico-border-radius);
          }
        }

        &:last-child {
          a {
            pointer-events: none;
            text-decoration: none;
            --pico-color: unset;
            background: transparent;
          }
        }
      }
    }
  }
}
